{% extends 'base.html' %}

{% block content %}
    <br>
    <div class="row card-panel">
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <h4>Update Student Informations:</h4>
            <p>Are you sure you want to update student: ({{ student }}) information? :</p>
            <button class="btn waves-effect waves-light green darken-3" type="submit" name="action">Update
                <i class="material-icons left">update</i>
            </button>
        </form>
    </div>
    <br>
    <br>
{% endblock content %}